nav {
    width: 200px;
    display: block;
    position: fixed;
    left: 20px;
    top: 20px;
    padding: 30px;
    box-sizing: border-box;
    opacity: .1;
    transition: all .4s ease-out;
}
nav:hover {
    opacity: 1;
    transition: all .1s ease-out;
}
nav p {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    width: 100%;
}
nav a {
    text-decoration: none;
    font-size: 14px;
    line-height: 27px;
}
nav ul li {
    list-style-type: none;
    margin: 0;
    width: 100%;
}
nav ul ul li {
    color: #777;
    margin-left: 10px;
}
nav ul, nav li {
    width: 100%;
}